* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

/* Navigation */
nav {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 10px 350px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 30px;
}

ul {
  list-style-type: none;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 50px 350px;
}

.hero-text,
.hero-img {
  flex: 1 1 0;
}

.hero-text-main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
  margin-bottom: 16px;
}

.hero-text-secondary {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 20px;
}

.sign-up-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.sign-up-button:hover {
  cursor: pointer;
}

.hero-img {
  width: 400px;
  height: 200px;
  background-color: #8f8f8f;
}

/* Section Info */
.info-header {
  height: 100px;
  padding: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
  margin-bottom: 20px;
}

.info-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-img {
  width: 200px;
  height: 200px;
  border: #3882f6 3px solid;
  margin-bottom: 16px;
}

.info-card-text {
  text-align: center;
  width: 200px;
}

.section-info {
  margin-bottom: 150px;
}

/* Quote Section */
.section-quote {
  background-color: #e5e7eb;
  padding: 0 350px;
  margin-bottom: 150px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.quote-author {
  font-weight: bold;
  font-size: 24px;
  align-self: flex-end;
}

/* Call to action section */
.section-cta {
  background-color: #3882f6;
  margin: 0 350px;
  border-radius: 8px;
  padding: 75px 150px;
  margin-bottom: 100px;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cta-text {
  color: #f9faf8;
}

.cta-button {
  padding: 12px 24px;
  color: #f9faf8;
  font-weight: bold;
  font-size: 20px;
  background-color: #3882f6;
  border: #f9faf8 2px solid;
  border-radius: 8px;
}

.cta-header {
  font-size: 28px;
  font-weight: bold;
}

.cta-para {
  font-size: 18px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 18px;
  color: #f9faf8;
}
